.jumbotron {
  background: transparent;
}
.gameFont {
  font-family: "Eagle Lake", cursive;
  color: white;
  text-align: center;
}
.seeThrough {
  background: transparent;
}
body {
  background-image: url("../images/Map.jpg");
  background-repeat: no-repeat;
}
.margin1 {
  margin-bottom: 40%;
}
#victories {
  width: 100%;
  height: 10px;
  background-repeat: no-repeat;
}
.margin2 {
  margin-bottom: 5%;
}
#GuessesRemaining {
  width: 100%;
  height: 30px;
  background-repeat: no-repeat;
}

.incorrect {
  height: 30px;
}
#results-img {
  text-align: right;
}
#game-info {
  text-align: left;
}
